@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
//
// TABLE OF CONTENTS
//

/*
* 1 - Body and General style
* 2 - Components style
*
* 3 - Animations
*/

// Body and General style
// COLORS //
$linearBg: linear-gradient(to right,
#ece9e6,
#ffffff);
$headerBg: rgba(0,
0,
0,
.01);
$buttonInfo: #369ead;
$text: #6b6b6b;
//
//
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $text;
}

body {
    color: $text;
    .btn-primary.info {
        background-color: $buttonInfo;
        border-color: $buttonInfo;
    }
    .presentation p {
        font-size: 1.1rem;
    }
    .light {
        font-weight: 200;
        color: $text;
    }
    .loader {
        width: 100%;
        height: 100%;
        background: $linearBg;
    }
    font-family: 'Lato',
    sans-serif;
    font-size: .8rem;
    background: $linearBg;
    overflow-x: hidden;
    margin-bottom: 3rem;
    .no-color {
        background-color: transparent;
    }
    .light-letter {
        font-weight: 300;
    }
    .canvasjs-chart-container a {
        display: none;
    }
    .jumbotron .display-3 {
        font-weight: 200;
        color: $text;
    }
    header {
        background-color: $headerBg;
        .title {
            transform: translate3d(0, 0, 0);
            -webkit-font-smoothing: antialised;
            animation: 10s infinite zoomOut-light;
            font-weight: 200;
            color: $text;
            text-align: center;
        }
        .subtitle {
            font-size: 2rem;
            margin-top: -1rem;
        }
    }
    .list {
        .element {
            opacity: 0;
            margin-bottom: 5rem;
        }
        .display-4 {
            font-weight: 200;
            color: $text;
        }
        justify-content: center;
        .embed-responsive-16by9 {
            transform: translate3d(0, 0, 0);
            -webkit-font-smoothing: antialised;
            transition: all 130ms ease-in;
            box-shadow: 11px 11px 53px -10px rgba(0, 0, 0, 0.65);
            &:hover {
                transform: scale(1.05);
            }
            iframe {
                width: 104% !important;
                overflow: auto;
                html {
                    cursor: pointer;
                }
            }
        }
    }
}

//
// Animations
//
@keyframes zoomOut-light {
    0% {
        transform: perspective(1px) scale(1);
    }
    50% {
        transform: perspective(1px) scale(.9);
    }
    100% {
        transform: perspective(1px) scale(1);
    }
}

tour {
    display: none;
    .images {
        border-radius: 1rem;
        box-shadow: 11px 11px 53px -10px rgba(0, 0, 0, 0.65);
        img {
            border-radius: 1rem;
        }
    }
    iframe {
        width: 100%;
        height: 20rem;
        margin-top: 2rem;
    }
    .end-movie {
        margin-top: 0;
    }
    .display-3 {
        display: inline-block;
        font-weight: 200;
    }
    .subtitle {
        display: inline-block;
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    div[class^="elem-"] {
        display: none;
    }
}