<!doctype html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portfolio - Index</title>
</head>

<body ng-controller="appCtrl" class="animated fadeIn">
    <header>
        <div class="text-center">
            <h1 class="display-1 title animated flipInX"><span class="light-letter">D</span>ianophe
                <div class="subtitle"><span class="light-letter">P</span>ortfolio</div>
            </h1>
        </div>
    </header>
    <tour></tour>
    <div class="loader">


        <div class="container">
            <div class="jumbotron jumbotron-fluid no-color presentation">
                <div class="container">
                    <h1 class="display-3"><span class="light-letter">P</span>résentation</h1>
                    <hr class="my-2">
                    <p>Salut à toi, je te souhaite la bienvenue sur mon portfolio "Dianophe", ce pseudo me représente IG, je n'ai aucune idée d'où vient ce choix là :) je l'ai choisis par hasard à vrai dire.</p>
                    <p>Je m'appelle Yann, je suis depuis assez longtemps maintenant intéressé par les diverses techonologies qui peuplent le monde du WEB, mais aussi et surtout le monde du Reverse-Engineering (Rétro-Ingénierie).</p>
                    <p>Un petit tour d'horizon sur des choses que j'ai envie de te montrer ça te dis ? Et bien c'est parti, tu as juste à appuyer sur le bouton en dessous !</p>

                    <button type="button" class="btn btn-primary btn-lg info" ng-click="begin()">Lancer</button>
                </div>
            </div>
        </div>

        <hr/>

        <div class="container">
            <div class="jumbotron jumbotron-fluid no-color">
                <div class="container">
                    <h1 class="display-3"><span class="light-letter">E</span>xpérience</h1>
                    <hr class="my-2">
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>

                </div>
            </div>
        </div>

        <hr/>

        <h1 class="display-3 light text-center"><span class="light-letter">P</span>rojets</h1>
        <div class="row text-center list mt-4 list">
            <div class="col-lg-5 col-md-5 col-xs-6 element" ng-repeat="elem in list" ng-if="elem.type == 'img'">
                <h3 class="display-4"><span class="light-letter">{{ elem.letter }}</span>{{ elem.nom }}</h3>
                <div href="#" class="embed-responsive embed-responsive-16by9">
                    <img ng-src="{{ loadImage(elem.src) | trusted }}" class="embed-responsive-item" alt="{{ elem.nom }}">
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-xs-6 element" ng-repeat="elem in list" ng-if="elem.type == 'iframe'">
                <h3 class="display-4"><span class="light-letter">{{ elem.letter }}</span>{{ elem.nom }}</h3>
                <div href="#" class="embed-responsive embed-responsive-16by9">
                    <iframe ng-src="{{ elem.src | trusted }}" scrolling="yes" class="embed-responsive-item">
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
</div>
</body>

</html>