<div class="col-lg-6 col-md-5 col-xs-6 offset-md-3 text-center elem-1 tour">
    <h1 class="display-3"><span class="light-letter">A</span>utoIT
        <div class="subtitle"> - <span class="light-letter">S</span>cripting</div>
    </h1>
    <div href="#" class="embed-responsive embed-responsive-16by9 images">
        <img src="https://www.autoitscript.com/autoit3/files/graphics/autoit_10_wall_1920x1200.jpg" alt="AutoIT" class="embed-responsive-item" />
    </div>



    <hr>

    <p>Ce langage est l'un des premiers que j'ai utilisé. De manière général, les clichés qui tournent autour de ce langage de Scripting ne sont pas totalement faussés :) J'ai l'ai moi même utilisé pour tricher dans quelques petits jeux, rien de grave, ce
        n'était que des jeux de navigateurs sur Facebook, celui où il faut cliquer le plus de fois possible en quelques secondes :p</p>
    <p>J'ai même fais une vidéo de démonstration, notez la date de la vidéo "20 décembre 2010" - Nous somme en 2018 et cela fait un bout de temps, j'avais ~13 ans et surtout je n'avais que ça à faire apparemment x)</p>
    <button type="button" class="btn btn-primary btn-lg info" ng-click="$parent.next(2);">Suivant</button>
    <iframe ng-src="https://www.youtube.com/embed/oMZyEjUZi0k" class="embed-responsive-item"></iframe>
</div>


<div class="col-lg-6 col-md-5 col-xs-6 offset-md-3 text-center elem-2 tour">
    <h1 class="display-3"><span class="light-letter">M</span>icrosoft
        <div class="subtitle"> - <span class="light-letter">.</span>NET</div>
    </h1>
    <div href="#" class="embed-responsive embed-responsive-16by9 images">
        <img src="https://cdn.lynda.com/course/513606/513606-636141939389684716-16x9.jpg" alt=".NET" class="embed-responsive-item" />
    </div>



    <hr>

    <p>Aaah voilà, nous entrons dans ce fameux monde qu'est Microsoft et plus particulièrement le framework .NET, j'avais commencé par utiliser le VB en stage à la "Cité des Sciences", en faisant un logiciel permettant d'envoyer des informations à un boitier
        qui commandait des lampes pour une exposition sur le thème de la <span class="animated flash infinite">lumière</span></p>
    <p>Je suis ensuite parti sur le C#, j'ai utilisé ce langage pour un projet de fin d'étude en BTS SIO, j'ai gardé le lien de mon repo si tu es curieux : <a href="https://github.com/juracite/MSL">MSL - Gestion d'une mairie</a></p>
    <p>Je codais assez salement, quoi que ça allait encore pour le coup j'imagine, si je devais comparer avec les camarades :p (Je plaisante bien sûr)</p>
    <p>J'ai aussi eu un projet personnel autour de ce langage, malheureusement je n'ai plus les sources, mais j'ai encore une vidéo ! Ahah</p>
    <button type="button" class="btn btn-primary btn-lg info" ng-click="$parent.next(3);">Suivant</button>
    <iframe ng-src="https://www.youtube.com/embed/o8cwQXL8NEg" class="embed-responsive-item"></iframe>
</div>

<div class="col-lg-6 col-md-5 col-xs-6 offset-md-3 text-center elem-3 tour">
    <h1 class="display-3"><span class="light-letter">F</span>IN</h1>
    <div href="#" class="embed-responsive embed-responsive-16by9 images">
        <iframe ng-src="https://www.youtube.com/embed/-hv2_oMCxbg" class="embed-responsive-item end-movie"></iframe>
    </div>



    <hr>

    <p>Et c'est la fin de la présentation :( Me voilà aujourd'hui en total amour avec Node.JS et le Javascript de manière général, merci d'avoir pris le temps de lire, si cela a été intéressant je l'espère !</p>
    <button type="button" class="btn btn-primary btn-lg info" ng-click="$parent.end();">Revenir à l'accueil pour la suite</button>
</div>